{% extends 'base.html'%}
{% load static %}

{%block content%}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Product List</h1>
            <a href="#"  data-toggle="modal" data-target="#addproduct" class=" btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus fa-sm text-white-50"></i> Add New Product</a>
        </div>

      <!-- Illustrations -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Product List</h6>
        </div>
        <div class="card-body">
            <div class="row">
                {% for product in product%}
            <div class="col-auto col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                
                                <div class="h2 mb-0 font-weight-bold text-gray-800">{{product.product_name}} {{product.product_size}} {{product.unit}}</div>
                                <div class="text-2xs font-weight-bold text-primary mb-1">
                                    {{product.product_type}} </div>
                            </div>
                           
                            <div class="col-auto">
                                <a  href="#" data-toggle="modal" data-target="#logoutModal" class="btn btn-info btn btn-sm">
                                    <i class="fas fa-check-circle"></i>  
                                </a>
                                <!-- <a href="in_order_detail.html"><i class="fas fa-bars fa-2x text-success"></i></a>
                                <a href="out_order_detail.html"><i class="fas fa-sign-out-alt fa-2x text-success"></i></a> -->
                            </div>
                               
                            
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
            
          
            
        </div>
           
        </div>
    </div>

    </div>
    <!-- /.container-fluid -->
    
   <!-- Add product Modal-->
   <div class="modal fade bd-example-modal-lg" id="addproduct" tabindex="-1" role="dialog" aria-labelledby="detail"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
       <div class="modal-content">
           <div class="modal-header border-bottom-0">
               <h5 class="title" id="detail">Product</h5>
               <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">×</span>
               </button>
              </div>
              <div class="modal-body border-bottom-0">
              
                     <div class="col-md-10 mx-auto">
                                <div class="card" style="box-shadow:0 0 25px 0 lightgrey;">
                                  <div class="card-header">
                                       <h4>Add Product</h4>
                                  </div>
                                  <div class="card-body">
                                    <form action="{% url 'productlist' %}" method="POST" class="" enctype='multipart/form-data' validate >
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" align="center">Product Name*</label>
                                            <div class="col-sm-6">
                                                <input type="text"  name="pname"  class="form-control form-control-sm" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" align="center">Product Type*</label>
                                            <div class="col-sm-6">
                                                <input type="text"  name="ptype"  class="form-control form-control-sm" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" align="center">Product Size*</label>
                                            <div class="col-sm-6">
                                                <input type="number"  name="psize"  class="form-control form-control-sm" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" align="center">Unit*</label>
                                            <div class="col-sm-6">
                                                <input type="text"  name="punit"  class="form-control form-control-sm"  required>
                                            </div>
                                        </div>
                                        
                                          <br>
                                          
                                    <center>
                                        <input type="submit" class="btn btn-success" value="Add Product">
                                       
                                        <a href="{% url 'productlist' %}"  class="btn btn-danger"> Cancel </a>
                                        <!-- <input type="submit" id="print_invoice" style="width:150px;" class="btn btn-success d-none" value="Print Invoice"> -->
                                    </center>
                
                
                                      </form>
                
                                  </div>
                                </div>
                            </div>            
                
             </div>

       </div>
   </div>
  </div>
   
{% endblock %}